.question-container {
    display: flex;
    flex-direction: column;
}

.yob-button {
    width: 200px;
    margin-top: 20px;
}

.example-container>mat-input {
    width: 100%;
}

.mat-radio-button {
    width: 200px;
}

.country-flag {
    width: 400px;
    height: 200px;
}

.flag-small {
    width: 32px;
}

.country-list-item {
    height: 40px;
    padding: 5px;
    img {
        padding-left: 10px;
        vertical-align: middle;
    }
}