<mat-tab-group dynamicHeight
               backgroundColor="primary">
  <mat-tab label="Question 1">
    <div class="tab-container mat-elevation-z4">

      Write a function that will take a non negative integer n and return the nth digit of Pi.
      <br/><br/>
      <b>Note :</b>Naive way is to store the hardcoded value in a string and return character of the string based on 'N'.
      <br/>I didn't find any feasible solution that can calculate exactly the nth digit of Pi without calclulating the value all the previous
      digits.

      <h5><a href="https://en.wikipedia.org/wiki/Bailey%E2%80%93Borwein%E2%80%93Plouffe_formula"
           target="_blank"
           rel="noopener">I referred to Bailey–Borwein–Plouffe formula which calculates the nth digit and returns in Hexadecimal format.</a></h5>
      <h4>// Pi in hex is 3.243f6a8885a308d313198a2e037073...
      </h4>

      <div class="question-container">
        <mat-form-field>
          <input matInput
                 type="number"
                 placeholder="Enter the value of N,Index starts from 0"
                 [formControl]="digitInputControl"
                 required>
          <mat-error *ngIf="digitInputControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <button class="yob-button"
                mat-raised-button
                color="primary"
                [disabled]='!digitInputControl.valid'
                (click)="getNthDigit(digitInputControl.value)">Get Nth Digit</button>

      </div>
      <p *ngIf="nth_DigitOfPi">{{nth_DigitOfPi}}</p>
    </div>
  </mat-tab>
  <mat-tab label="Question 2">
    <div class="tab-container mat-elevation-z4">
      Write a function that connects to https://restcountries.eu/ and gets a unique country from a specific name given.

      <div class="question-container">
        <mat-form-field>
          <input matInput
                 placeholder="Enter a country name"
                 [formControl]="countryNameInputControl"
                 required>
          <mat-error *ngIf="countryNameInputControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <button class="yob-button"
                mat-raised-button
                color="primary"
                [disabled]='!countryNameInputControl.valid'
                (click)="getUniqueCountry(countryNameInputControl.value)">Get Unique Country</button>

        <div fxLayout="column"
             *ngIf="selectedCountry">
          <h3>{{selectedCountry.name}}</h3>
          <img *ngIf="selectedCountry.flag"
               class="country-flag"
               [src]="selectedCountry.flag">
        </div>
        <div fxLayout="column"
             *ngIf="!selectedCountry">
          <h5>No matching country found.</h5>

        </div>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Question 3">
    <div class="tab-container mat-elevation-z4">
      Using the same API ( https://restcountries.eu/ ), and from an array of string, write a function that returns a list of countries where their
      name matches at least a part of one of these string.

      <h4>Test cases</h4>
      <ul>
        <li>
          Empty string -Validation
        </li>
        <li>
          Strings with no matching country names -  err msg
        </li>
        <li>
          Strings with same country name repeated -  INDIAINDIAINDIA,MALTAMALTAESTONIA
        </li>
        <li>
          Strings with multiple country names in single string -  MALTAESTONIAINDIANORWAYITALY
        </li>
        <li>
          Strings with multiple country names in single string -  IndiaYes,EstoniaCountry,MaltaCountry
        </li>
        <li>
          All the Strings with same country name in single string -  India,India,India
        </li>
      </ul>
      <div class="question-container">
        <mat-form-field>
          <textarea matInput
                    placeholder="Enter list of strings separated by comma"
                    cols='10'
                    rows='4'
                    [formControl]="inputStringsArray"
                    required></textarea>
          <mat-error *ngIf="inputStringsArray.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <button class="yob-button"
                mat-raised-button
                color="primary"
                [disabled]='!inputStringsArray.valid'
                (click)="getCountriesBasedonArray(inputStringsArray.value)">Get Countries</button>
      </div>

      <ul *ngIf="countryMatches.size">
        <li *ngFor="let match of countryMatches | keyvalue">
          Countries that match with - {{ match.key }}
          <ul>
            <li class="country-list-item"
                *ngFor="let country of match.value">
              {{ country.name }} <img class="flag-small"
                   [src]="country.flag">
            </li>
          </ul>
        </li>
      </ul>

      <div fxLayout="column"
           *ngIf="isErrorEnabled">
        <h5>No matching country found.</h5>

      </div>
    </div>
  </mat-tab>


  <mat-tab label="Question 4">
    <div class="tab-container mat-elevation-z4">
      <pre>   Considering a Slot machine define like this:
          Reel1: [“cherry”, ”lemon”, “apple”, ”lemon”, “banana”, “banana”, ”lemon”, ”lemon”]
          Reel2: [”lemon”, “apple”, ”lemon”, “lemon”, “cherry”, “apple”, ”banana”, ”lemon”]
          Reel3: [”lemon”, “apple”, ”lemon”, “apple”, “cherry”, “lemon”, ”banana”, ”lemon”]
          3 cherries in a row: won 50 coins
          2 cherries in a row: won 40 coins
          3 Apples in a row: won 20 coins
          2 Apples in a row: won 10 coins
          3 Bananas in a row: won 15 coins
          2 Bananas in a row: won 5 coins
          3 lemons in a row: won 3 coins
          1 spin = 1 coin
          
          Using these data, create a function that, when it’s called, gives back the result of a spin.
          </pre>

      <b>Pleae select a Spin Style :</b><br/><br/>
      <mat-radio-group class="example-radio-group"
                       [(ngModel)]="selectedSpinStyle">
        <mat-radio-button class="example-radio-button"
                          (change)="onRadioChange(0)"
                          [value]="0">
          Manual
        </mat-radio-button>
        <mat-radio-button class="example-radio-button"
                          [value]="1"
                          (change)="onRadioChange(1)">
          Random
        </mat-radio-button>
      </mat-radio-group>
      <br/><br/>
      <div class="manual-select"
           *ngIf="selectedSpinStyle ===0">
        <mat-form-field>
          <mat-select placeholder="Reel1"
                      [(value)]="reel1Selected"
                      (selectionChange)="OnReel1SelectionChange($event)"
                      [formControl]="reel1SelectControl">
            <mat-option *ngFor="let reel1Item of reel1Items"
                        [value]="reel1Item.fruitType">
              <img [src]="reel1Item.image" />{{reel1Item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Reel2"
                      [(value)]="reel2Selected"
                      (selectionChange)="OnReel2SelectionChange($event)"
                      [formControl]="reel2SelectControl">
            <mat-option *ngFor="let reel2Item of reel2Items"
                        [value]="reel2Item.fruitType">
              <img [src]="reel2Item.image" />{{reel2Item.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Reel3"
                      [(value)]="reel3Selected"
                      (selectionChange)="OnReel3SelectionChange($event)"
                      [formControl]="reel3SelectControl">
            <mat-option *ngFor="let reel3Item of reel3Items"
                        [value]="reel3Item.fruitType">
              <img [src]="reel3Item.image" />{{reel3Item.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button class="yob-button"
                mat-raised-button
                color="primary"
                (click)="checkResult()">Check Result</button>
      </div>

      <div class="question-container"
           *ngIf="selectedSpinStyle === 1">
        <mat-chip-list>
          <label>Reel1 :</label> <mat-chip color="accent"
                    selected>{{reel1RandomValue}}</mat-chip>
          <label>Reel2 :</label> <mat-chip color="accent"
                    selected>{{reel2RandomValue}}</mat-chip>
          <label>Reel3 :</label> <mat-chip color="accent"
                    selected>{{reel3RandomValue}}</mat-chip>
        </mat-chip-list>

        <button class="yob-button"
                mat-raised-button
                color="primary"
                (click)="spin()">SPIN</button>


      </div>

      <mat-chip-list *ngIf="coinsWon!=null">
        <label>You won</label> <mat-chip color="accent"
                  selected>{{coinsWon}} Coins</mat-chip>
      </mat-chip-list>
    </div>
  </mat-tab>
</mat-tab-group>