<nav class="navbar">
    <div class="container">
        <h1 class="logo"><a href="#">Yobetit Test</a></h1>
        <ul class="nav nav-right">
            <li><a routerLink="/">NodeJS</a></li>
            <li><a routerLink="/sql">SQL</a></li>
        </ul>
    </div>
</nav>
<router-outlet>
</router-outlet>