<mat-tab-group dynamicHeight
               backgroundColor="primary">
  <mat-tab label="Question 1">
    <div class="tab-container mat-elevation-z4">
      <pre>   You are working in a casino.
      A casino has games.
      Each game has a unique type.
      Each game has one or more countries where players are allowed to bet from.
      A player may or may not have a favorite game.
      
      Use these sentences to draw a schema of a database you would create to store these information.
    </pre>
    <img src="../../assets/dbdesign.JPG">
    </div>
  </mat-tab>
  <mat-tab label="Question 2">
    <div class="tab-container mat-elevation-z4">
      Write based on above, a SQL query to get all players that have games of type “SLOT” as their favorite games.
      <br/><br/>
      <b>Solution:</b>
      <pre>
      Select Player.Name from Player  join Game on Player.FavoriteGameId = Game.Id
                                              join GameType as gt on Game.TypeId = gt.Id
                                              where gt.Type ='SLOT'
      </pre>
    </div>
  </mat-tab>
</mat-tab-group>